@import "tailwindcss";
@import "./styles/calendar.scss";

/* Определяем свои цвета прямо здесь */
@theme {
  --color-deus-black: #0a0a0a;
  --color-deus-white: #ffffff;
  --color-deus-gray: #9ca3af;
  --color-deus-gray-dark: #1f1f1f;
  --test: #303030;

  /* Фиолетовая палитра */
  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;

  /* Градиенты */
  --bg-gradient-deus: linear-gradient(135deg, #0a0a0a 0%, #4c1d95 100%);
}

/* Базовые стили */
@layer base {
  html,
  body,
  #root {
    background-color: var(--color-deus-black);
    color: var(--color-deus-white);
    min-height: 100vh;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
